* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #b8becd;
  font-weight: 400;
}

/* Для удобства :D */
/* div {
    border: 1px solid black;
} */

.header,
.section {
  width: 1300px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.logo {
  background: url(../img/logo.svg);
  width: 41px;
  height: 41px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.menu {
  width: 663px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.menu a:first-child {
  font-weight: bold;
  color: black;
}

.button-1 {
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  width: 132px;
  height: 44px;
  color: #fb8f1d;
  text-align: center;
  background-color: white;
}

.button-2 {
  border: none;
  border-radius: 8px;
  background-color: #fb8f1d;
  width: 132px;
  height: 44px;
  color: white;
  text-align: center;
}

.nav__inner {
  width: 1230px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

a:hover {
  color: #fb8f1d;
}

a {
  text-decoration: none;
}

/* Navbar end */

/* section-1 start */

h1 {
  font-family: "Playfair Display";
  color: black;
  font-size: 64px;
  line-height: 80px;
}
.section-1__left p {
  margin: 100px 0 40px 0;
  color: black;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.section-1__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.circle {
  position: absolute;
  left: 550px;
  bottom: 8px;
}
.plus {
  position: absolute;
  left: 500px;
  top: 20px;
}

.section-1__left {
  width: 500px;
  height: 654px;
}
.section-1__left h2 {
  font-family: "Playfair Display";
  font-size: 64px;
  line-height: 80px;
}
.section-1__left p {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.section-1__item {
  display: flex;
  flex-wrap: wrap;
}
.section-1__item select {
  width: 220px;
  height: 52px;
  margin-right: 30px;
  margin-top: 30px;
  padding-left: 30px;
  color: #4a4c53;
  border-radius: 8px;
}
.section-1__item button {
  margin-top: 47px;
}

/* section-1 end */

/* section-2 start */

.plus-2 {
  position: absolute;
  top: 0;
  right: 400px;
}
.circle-3 {
  position: absolute;
  right: 250px;
  bottom: 200px;
}

.section-2__inner {
  position: relative;
  display: flex;
  justify-content: center;
  height: 550px;
  margin-top: 100px;
}

.section-2__right {
  width: 450px;
  height: 333px;
  display: flex;
  flex-wrap: wrap;
  margin: 110px 0 0 30px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  color: black;
}
.section-2__right p {
  font-weight: 200;
}

/* section-2 end */

/* section-3 start */

.thema {
  width: 1100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.thema a {
  color: #fb8f1d;
  font-weight: 700;
}

.section-3__inner {
  position: relative;
  width: 1200px;
  height: 450px;
  margin-top: 100px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.plus-3 {
  position: absolute;
  left: 0;
  bottom: 150px;
}
.circle-4 {
  position: absolute;
  top: 0;
  right: 300px;
}

.photos {
  display: flex;
}
.raja {
  background: url(../img/Raja\ ampat.png);
  width: 261px;
  height: 335px;
  margin: 10px;
  position: relative;
}
.photos__text {
  width: 120px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 0px 6px 0px 0px;
  color: #042521;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.photos__text p {
  font-weight: 600;
  font-size: 17px;
}
.fanj {
  background: url(../img/Fanjingshan.png);
  width: 261px;
  height: 335px;
  margin: 10px;
  position: relative;
}
.vevey {
  background: url(../img/Vevey.png);
  width: 261px;
  height: 335px;
  margin: 10px;
  position: relative;
}
.skadar {
  background: url(../img/Skadar.png);
  width: 261px;
  height: 335px;
  margin: 10px;
  position: relative;
}

/* section-3 end */

/* section-4 start  */
.section-4__inner {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}
.plus-4 {
  position: absolute;
  bottom: 150px;
  right: 700px;
}
.circle-5 {
  position: absolute;
  top: 50px;
  left: 100px;
}

.section-4__right p {
  font-weight: 200;
}
.section-4__left {
  width: 450px;
  height: 333px;
  display: flex;
  flex-wrap: wrap;
  margin: 110px 0 0 30px;
}
/* section-4 end */

/* section-5 start */

.section-5__inner {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.circle-6 {
  position: absolute;
  left: 0;
  bottom: 300px;
}

.section-5__top {
  width: 900px;
  height: 100px;
}

.section-5__right p {
  font-weight: 200;
}
.star {
  width: 100%;
  height: 50px;
}
.black-text {
  margin-top: 50px;
}
.last-text {
  font-size: 18px;
  color: #000000;
}
.section-5__left {
  flex-direction: column;
  width: 500px;
  height: 320px;
  margin: 90px 120px 0 30px;
}
.under-star {
  font-family: "Mulish";
  font-size: 24px;
  color: #000000;
}
.black-text {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
}

/* section-5 end */

/* section-6 start */
.section-6__thema {
  margin-bottom: 30px;
}

.section-6__inner {
  margin-top: 100px;
  width: 1200px;
  height: 284px;
  display: flex;
  flex-wrap: wrap;
}

.images {
  width: 266px;
  height: 446px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
}
.card__image {
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.card__body {
  width: 260px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card__title {
  margin: 20px 0;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.card__text {
  color: #7d7987;
  font-size: 18px;
}
.card__button {
  margin-top: 30px;
}

/* section-6  end*/

/* footer start  */

.footer {
  background-color: #f9f9fb;
  width: 1340px;
  margin-top: 450px;
  display: flex;
  justify-content: center;
}
.footer__inner {
  border-bottom: 1px solid #848484;
  width: 1222px;
  height: 371px;
  display: flex;
  justify-content: space-between;
}
.ts p {
  margin-top: 50px;
}
.ts {
  margin-top: 80px;
}

.footer__text {
  margin: 100px 50px;
}

.footer__text ul {
  color: #000000;
  font-family: "Mulish";
  font-size: 20px;
  font-weight: bold;
}
li {
  list-style-type: none;
  color: #848484;
  margin-top: 15px;
}
.social-media {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media a {
  margin-right: 20px;
}

/* footer end  */
